body{
	text-align: center;
}
img{
	width:4%;
}
button{
    display: block;
    margin:auto;
}

img:hover{
	opacity:0.5;
}

@font-face{
	font-family:cardFont;
	src:url(Campanile.ttf);
}

h1
{
	font-family: cardFont;
}